.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.75);
}

.modal {
	position: fixed;
	top: 2vh;
	left: 5%;
	width: 90vw;
	background-color: white;
	border-radius: 14px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	z-index: 30;
	animation: slide-down 300ms ease-out forwards;
}

.closeModal {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 16px;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	border: none;
	text-align: center;
	background-color: transparent;
	transition: all 0.3s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}
.closeModal:hover {
	cursor: pointer;
	color: #fff;
	background-color: #333;
}

@media (min-width: 1190px) {
	.modal {
		width: 60rem;
		left: calc(50% - 30rem);
	}
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
