.control {
	margin-bottom: 1.5rem;
}

.control label {
	display: block;
	color: #003049;
	margin-bottom: 0.5rem;
}

.control input {
	font: inherit;
	color: #212529;
	border-radius: 4px;
	background-color: #4bb2e93a;
	width: 100%;
	text-align: left;
	padding: 0.3rem;
	transition: all 0.3s;
}
.control input:focus {
	box-shadow: 0px 0px 2px #002f499d;
}

.invalid input {
	background-color: #e639471a;
}

.invalid input:focus {
	background-color: #e639471a;
	box-shadow: 0px 0px 2px #e6394788;
}

.errorText {
	margin: 0;
	color: #e63946;
	font-size: 0.8rem;
}
