.container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 50vw;
	margin: 0 auto;
	height: 12vh;

	position: relative;
}

@media (max-width: 700px) {
	.container {
		width: 95vw;
	}
}
